/*Universal styling*/
* {
	font-family: 'verdana', sans-serif;
	font-size: 10px;
}

/*Type styling*/
h1 {
	font-size: 30px;
}

p {
	color: yellow;
}

/*ID styling*/
#h2 {
	text-transform: uppercase;
}

/*Class styling*/
.language {
	background-color: lightgreen;
}

/*Attribute styling*/
li[type] {
	border: 1px solid lightblue;
}

/*Adjacent sibling styling*/
img + ul {
	list-style-type: none;
}

/*Descendant styling*/
section img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

/*Generic sibling styling*/
h4 ~ p {
	text-align: center;
	color: black;
}

/*Child styling*/
ul > li {
	letter-spacing: 5px;
}